.burger-menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
    width: 320px;
    height: 100vh;
    overflow-y: scroll;
    gap: 1rem;
}

.burger-menu__header,
.burger-menu__footer-menu,
.burger-menu__footer-links {
    margin: 1rem 1.5rem;
}

.burger-menu__menu {
    flex-grow: 1;
}

.burger-menu__menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.burger-menu__menu li {
    margin: 1rem 0;
    line-height: 2rem;
    padding-left: 1.5rem;
}


.burger-menu__menu li:has(.active, a:hover) {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='32' viewBox='0 0 4 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 4C4 1.79086 2.20914 0 0 0V32C2.20914 32 4 30.2091 4 28V4Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    animation-name: list-animation;
    animation-duration: 0.8s;
}

.burger-menu__menu a,
.burger-menu__footer-links a {
    color: black;
    text-decoration: none;
}

.burger-menu__email {
    margin-bottom: 0.75rem;
}

.burger-menu__phone {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
}

a.active {
    color: #7E7E82;
}

@keyframes list-animation {
    0% { padding-left: 1.5rem; }
    50% { padding-left: 2rem;
        transform: rotate(3deg);
    }
    100% { padding-left: 1.5rem; }
}